.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skillCategory {
  margin-bottom: 40px;
}

.skillCategory h2 {
  margin-bottom: 20px;
}

.skillList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px; /* Adjust the gap as needed */
}

.skillList img {
  width: 20px;
}

hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 30px auto;
}

@media (min-width: 800px) {
  .skillList {
    gap: 30px;
  }

  hr {
    width: 300px;
  }
}
